@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kumbh+Sans:wght@300;400;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
nav{
	width: 97%;
    max-width: 1400px;
    margin: auto;
	background-color:black;
	text-align:right;
	padding:20px;
    position: sticky;
    top: 0;
}
#logo-topo{
   font:1.5rem 'Kaushan Script', sans-serif;
   float: left;
   color:white;
}

a{
	font:1.2rem 'Kumbh Sans', sans-serif;
    text-decoration: none;
   
}
.a-menu{
   margin-right:30px; 
   font-weight:bold;
}

.a-menu:link, .a-menu:visited{
	color:white;
}
.a-menu:hover, .a-menu:active{
	color:#000;
}

#slider {
    height: 88vh;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
#slider img{
    height: 88vh;
    width: 100%;
    max-width: 1400px;
}
h2{
    
  font:2.3rem 'Kaushan Script', cursive;
  color:black;
  margin-bottom: 15px;
  text-align: center;
}

.card img{
    margin: 0 auto;
    width:100%;
    height: 210px;
}
/*.section-container-elements*/

#section-container-elements p{
    font:1.2rem 'Kumbh Sans', sans-serif; 
	text-align: center;
	margin-bottom: 10px;
	color: gray;
    padding-bottom:15px;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem;
   
}
  
.card{
    background-color: #FFF;
    margin: 10px;
    width: 22%;
    min-width: (15%, 22%);
    border-radius: 10px;
    box-shadow: 0px 4px 8px #777;
    transition: 0.3s; 
    text-align:justify;
    align-items: center;

  }
.card:hover{
    box-shadow: 0 8px 16px #777;
  }
.card-content{
    padding: 10px;
    display:flex;
    text-align:center;
    justify-content: center;
  }

h3{
	font:1.1rem 'Kumbh Sans', cursive;
	color:#000;
	text-align: left;
	margin-bottom: 10px;
	margin-right: 10px;

}
/*Form*/
#section-cadastro{
    background-color:#F8D335;
    height: 90vh;
    width: 100%;
    max-width: 1400px;
    text-align: center;
    
}
form{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    text-align: center;
    padding-top: 2px;
}
input
{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    background-color:#ffffff;
    border-radius: 13px;
    color:#959595;
    outline: 0;
}
label, input
{
    font: 1.2rem 'Roboto', cursive;
}
label{
    text-align: justify;
}

input[type = "submit"]{
    background-color: black;
    color: white;
    border: 1px solid black;
}

/*Footer*/
footer{
    background-color:#000;
    padding: 18px;
    width: 97.5%;
    margin: auto;
}
  
footer p{
    font:1.2rem 'Kumbh Sans', sans-serif; 
    text-align: center;
    color:#fff;
}
  

@media (max-width: 768px){
    html{
        font-size: 50%;
        image-rendering: pixelated;

    }
 }